<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="javascript:void()" routerLink="/">Home</a>
      <a mat-list-item href="javascript:void()" routerLink="/bar">Bar</a>
      <a mat-list-item href="javascript:void()" routerLink="/pie">Pie</a>
      <a mat-list-item href="javascript:void()" routerLink="/scatter">Scatter</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <!-- *ngIf="isHandset$ | async" -->
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span routerLink="/">Home</span>
      <span routerLink="/bar">Bar </span>
      <span routerLink="/pie">Pie</span>
      <span routerLink="/scatter">Scatter</span>
    </mat-toolbar>
    <div class="container">
      <ng-content select="router-outlet"></ng-content>

    </div>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
